@import '_mixins';
@import '_variables';
@import '_desktop.scss';
@import '_responsive';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80vw;
  margin: auto;
}

@import 'header.scss';
@import 'sections/main.scss';
@import 'sections/section-about.scss';
@import 'sections/section-skills.scss';
@import 'sections/section-portfolio.scss';
@import 'footer.scss';
