.footer {
  padding-top: 90px;
  padding-bottom: 100px;
}

.footer-content {
  text-align: center;
  h2 {
    font-size: 34px;
    font-weight: 600;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

.btn {
  text-decoration: none;
  border: none;
  background-color: $black;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 28px;
  border-radius: 30px;
}
